
body {
    font-family: Typewriter;
    min-width:250px;
    margin:0px;
    color:black;
    background-color:#a6b346;
    font-size:1.25em;
}

textarea{
    width:50%;
    height:10em;
}

a{
    color:black;
}
a:hover{
    color:white;
}
a:visited{
    color:black;
}
.hide{
    display:none;
}
.background{
    background-color:#667306;
}
.forground{
    background-color:#a6997e;
}


.left{
    float:left;
}
.right{
    float:right;
}

.map{
   
}

.largeMap{
    
    margin: 0 12.5% 0 12.5%;
    width:75%;
    border:1px solid black;
}


div{
    //border-radius:2%;
   }

#chapterContainer, #mediaContainer{
    border:0px;
    z-index:999;
}

#content{
    width:100%;
    text-align:center;
    display:inline-block;
}


#content p{
    text-indent:2em;
}
#footer{
    display:inline-block;
//    background-color: #869424;

    left:0px;
    bottom:0px;
    width:100%;
    text-align:center;
}
#footer p{
    text-align:center;
}

h6{
    cursor:pointer;

}

p{
    text-align:left;
    margin:1em;
}

hr{
    border-color:black;
    background-color:black;
    color:black;
}

.contentImg{
    display:inline-block;
    margin:1em;
}
.lgWidth{
    width:80%;
}
.mdWidth{
    width:30%;
}
.smWidth{
    width:20%;
}


.noSelect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#overlap{
    
    margin:50px auto 50px auto;
}

#sliderCont{
    margin:auto;
    text-align:center;
}
#slider{
    
    margin:auto;
}
