.navSection, .navMSection{
    display:none;
    background-color:#46391e;
    color:white;
    cursor:pointer;
}


#nav{
    float:left;

    z-index:999;
}
#logodiv{
    //border:1px solid black;
}

#arrows{

    bottom:4em;
    width:100%;
    display:inline-block;
}
#next{
    float:right;
    margin:0em .5em 0em .5em;
    background-color:#a6997e;
    padding:.5em;
    border:1px solid black;
    text-align:center;


    display:block;
    max-width:30%;
}
#prev{
    margin:0em .5em 0em .5em;
    float:left;
    background-color:#a6997e;
    color:black;
    padding:.5em;
    display:block;
    border:1px solid black;
    text-align:center;


    display:block;
    max-width:30%;
}

nav{
    width:100%;
    background-color:#a6997e;
}
nav div{
    border:1px solid black;
    cursor:pointer;
}

.navChapter h3, .navSection h3{
    pointer-events:none;
}


.navChapter, .navMedia{
    display:none;
    background-color:#76694e;
    color:white;
    cursor:pointer;

}