
.quizButton{
    display:block;
    background-color:#a6997e;
    margin:1em auto 1em auto;
    border:1px solid black;
    border-radius:.5em;
    padding:1em;

}
.quizStartButton{
    display:inline-block;
    background-color:#a6997e;
    margin:1em auto 1em auto;
    border:1px solid black;
    border-radius:.5em;
    padding:1em;

}
.quizCont{
    text-align:center;
    width:100%;
}