@font-face {
    font-family: Typewriter;
    src: url(Tox_Typewriter.ttf);
}

body {
    font-family: Typewriter;
    
    margin:0px;
    color:black;
    background-color:#667306;
    
}



.background{
    background-color:#667306;
}
.forground{
    background-color:#a6997e;
}


#nav{
    float:left;
    
}
.largeMap{
    margin: 0 12.5% 0 12.5%;
    width:75%;
}

nav{
    width:100%;
    background-color:#a6997e;
}
nav div{
    border:1px solid black;
}

.navChapter{
    display:none;
    background-color:#76694e;
}
div{
    border-radius:2%;
   }
.navSection{
    display:none;
    background-color:#46391e;
}

h6{
    cursor:pointer;
    
}
nav div a:hover{
    
}
nav div a:visited{
    
}
p{
    text-align:center;
}
hr{
    border-color:black;
    background-color:black;
    color:black;
}
/*mobile styling*/
@media (max-width:799px) {

    #logo{
    
	float:left;
	width:100%;
	background-color:#a6997e;
    }
    #logodiv{
	display:block;
	width:10%;
	float:left;
	cursor:pointer;
    }

    #title{
	margin:0px;
	text-align:center;
	  }
	
    .navLabel{
	font-size:2em;
	border-radius:4px;
    }
    
    .navChapter{
	padding:0em 0em 0em 2em;
	text-indent:10%;
	border-radius:4px;
    }
    
    .navSection{
	text-indent:20%;
	border-radius:4px;
    }
    
    nav{
	width:80%;
	position:absolute;
border-radius:4px;	
    }
    
    nav div{
	display:none;
	
    }
    #chapterContainer{
	display:block;
    }
    nav div h6{

	margin:auto;
	line-height:2em;
	
    }
    #menuButton{
	width:20%;
	display:block;
	float:right;
	z-index:999;
	padding:1em;
	border:2px black outset;
	border-radius:.5em;
	background-color:#a6997e;
	font-size:2em;
	font-family:Typewriter;
    }
}

/*desktop styling*/
@media (min-width: 800px) {
    
    #logo{
    
    float:left;
    width:100%;
    background-color:#a6997e;
    }
    #logodiv{
	display:inline-block;
	width:10%;
	float:left;
	cursor:pointer;
    }

    #nav{
    width:90%;

    display:inline-block;
}
    .navLabel{
	width:10%;
	position:relative;
	text-align:center;
	float:left;
	
    }
    .navLabel:hover{
	background-color:#E9E9E9;
    }
    .navChapter:hover{
	background-color:#C9C9C9;
    }
    .navSection:hover{
	background-color:#A9A9A9;
    }
    .navLabel h6{
	margin:1em 0em 1em 0em;
    }
    nav{
	display:inline-block;
    }
    nav div{
	
	
	
    }
    nav div h6{
	font-size:1em;
	margin:1em;
	
    }

    
    #titlediv{
	display:table;
	width:90%;
	text-align:center;
    }
    
    #title{
	
	display:table-cell;
	
    }
    
    #chapterContainer{
	position:absolute;
	display:block;
    }
    
    #menuButton{
	display:none;
    }
    .navChapter{
	width:8em;
	
    }

    .navSection{
	margin-left:1em;
	text-align:left;
    }
}


