@font-face {
    font-family: Typewriter;
    src: url(Tox_Typewriter.ttf);
}

body {
    font-family: Typewriter;
    margin:0px;
    
}

#logo{

}

.largeMap{
    margin: 0 12.5% 0 12.5%;
    width:75%;
}
a{
    color:white;
}
a:hover{
    color:blue;
}
a:visited{
    color:white;
}

nav{
    width:100%;
    background-color:green;
}
nav div{
    border:1px solid black;
}

.navChapter{
    text-indent:50px;
    display:none;
}
.navSection{
    text-indent:100px;
    display:none;
}

nav div h6{
    cursor:pointer;
    color:white;
}
nav div a:hover{
    color:blue;
}
nav div a:visited{
    color:white;
}
p{
    text-align:center;
}
/*mobile styling*/
@media (min-width: 0px) {
    
    nav{
	position:absolute;
    }
    
    nav div{
	display:none;
	text-align: center;
    }
    nav div h6{
	font-size:18px;
	margin:auto;
	line-height:25px;
	padding-left:5px;
    }
    #menuButton{
	display:block;
	right:0;
	position:absolute;
	z-index:999;
	
    }
}

/*desktop styling*/
@media (min-width: 1400px) {

   
    nav div{
	
	display: inline-block; 
	
    }
    
    #menuButton{
	display:none;
    }
}


