@font-face {
    font-family: Typewriter;
    src: url(Tox_Typewriter.ttf);
}

body {
    font-family: Typewriter;
    margin:0px;
    color:black;
    background-color:#667306;
    
}

.background{
    background-color:#667306;
}
.forground{
    background-color:#a6997e;
}

#logo{

}

.largeMap{
    margin: 0 12.5% 0 12.5%;
    width:75%;
}

nav{
    width:100%;
    background-color:#a6997e;
}
nav div{
    border:1px solid black;
}

.navChapter{
    display:none;
    background-color:#76694e;
}

.navSection{
    display:none;
    background-color:#46391e;
}

nav div h6{
    cursor:pointer;
    color:white;
}
nav div a:hover{
    color:blue;
}
nav div a:visited{
    color:white;
}
p{
    text-align:center;
}
/*mobile styling*/
@media (min-width: 0px) {
.navChapter{
    text-indent:3em;
}
    
.navSection{
    text-indent:6em;
}
    
    nav{
	position:absolute;
    }
    
    nav div{
	display:none;
	text-align: center;
    }
    nav div h6{
	font-size:1em;
	margin:auto;
	line-height:2em;
    }
    #menuButton{
	display:block;
	right:0;
	position:absolute;
	z-index:999;
	height:4em;
	width:4em;
	border-radius:.5em;
    }
}

/*desktop styling*/
@media (min-width: 1400px) {

   
    nav div{
	
	display: inline-block; 
	
    }
    
    #menuButton{
	display:none;
    }
}


