#zoomDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
}
#zoomDiv > .template, #zoomDiv > .screen {
  width: 100.0%;
  height: 100.0%;
}