body{
    background-color:black;
    color:white;
}

#logo{
    display:inline-block;
    width:10%;
    float:left;
}
nav ul li{
    
    text-decoration:none;
    background-color:gray;
    float:left;
    display:block;
    width:60px;
    padding:20px;
    text-align:center;
   
    
}
nav ul{
   
    list-style-type: none;
    display:inline;
}
nav{
}