#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 > #backgroundBox {
  background-color: #000000;
  background-image: none;
  position: absolute;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 400px;
  min-width: 400px;
  min-height: 768px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Button_1 {
  position: absolute;
  top: 0px;
  left: 298px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 88px;
  height: 85px;
  background-color: #000000;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Arial,Arial;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Button_1 .valign {
  vertical-align: top;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Button_1 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Button_1 span#rtr-t-Button_1_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Paragraph_1 {
  position: absolute;
  top: 101px;
  left: 0px;
  width: 400px;
  height: 256px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Paragraph_1 span#rtr-t-Paragraph_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_1 {
  position: absolute;
  top: 99px;
  left: 0px;
  width: 396px;
  height: 141px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  display: none;
  z-index: 100;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_1 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_1-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_3 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  text-shadow: none;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_3-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_52 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_52-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_53 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  text-shadow: none;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_53-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Text_1 {
  position: absolute;
  top: 1px;
  left: 98px;
  width: 200px;
  height: 98px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Arial,Arial;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Text_1 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Text_1 span#rtr-t-Text_1_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_2 {
  position: absolute;
  top: 134px;
  left: 2px;
  width: 398px;
  height: 223px;
  background-color: #000000;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
  display: none;
  cursor: pointer;
  z-index: 100;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_45 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_45-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_38 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  text-shadow: none;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_38-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_39 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_39-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_40 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_40-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_41 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_41-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_42 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_42-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_43 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_43-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_44 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_44-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_31 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  text-shadow: none;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_31-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_32 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_32-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_33 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_33-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_34 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_34-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_35 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_35-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_36 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_36-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_37 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_37-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_24 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  text-shadow: none;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_24-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_25 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_25-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_26 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_26-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_27 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_27-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_28 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_28-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_29 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_29-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_30 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_30-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_17 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  text-shadow: none;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_17-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_18 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_18-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_19 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_19-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_20 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_20-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_21 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_21-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_22 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_22-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_23 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_23-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_10 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  text-shadow: none;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_10-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_11 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_11-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_12 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_12-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_13 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_13-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_14 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_14-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_15 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_15-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_16 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_16-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_2 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  text-shadow: none;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_2-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_4 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_4-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_5 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_5-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_6 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_6-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_7 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_7-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_8 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_8-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_9 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_9-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_3 {
  position: absolute;
  top: 165px;
  left: 0px;
  width: 398px;
  height: 190px;
  background-color: #000000;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
  display: none;
  z-index: 100;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_54 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_54-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_51 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_51-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_50 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_50-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_49 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_49-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_48 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_48-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_47 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_47-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_46 {
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_46-nodetext {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}