#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Button_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_1 {
  height: 32px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_3 {
  height: 32px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_52 {
  height: 32px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_53 {
  height: 32px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_45 {
  height: 28px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_38 {
  height: 28px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_39 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_40 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_41 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_42 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_43 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_44 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_31 {
  height: 28px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_32 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_33 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_34 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_35 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_36 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_37 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_24 {
  height: 28px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_25 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_26 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_27 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_28 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_29 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_30 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_17 {
  height: 28px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_18 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_19 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_20 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_21 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_22 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_23 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_10 {
  height: 28px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_11 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_12 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_13 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_14 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_15 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_16 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_2 {
  height: 28px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_4 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_5 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_6 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_7 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_8 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_9 {
  height: 26px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_54 {
  height: 27px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_51 {
  height: 27px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_50 {
  height: 27px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_49 {
  height: 27px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_48 {
  height: 27px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_47 {
  height: 27px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Menu_item_46 {
  height: 27px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}