#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 #t-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-31aef4f9-0ee6-4c3c-b408-827647dfe766 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}