#s-4e84b3dc-7a4d-4e02-99c1-cf3cf46cc2fb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e84b3dc-7a4d-4e02-99c1-cf3cf46cc2fb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e84b3dc-7a4d-4e02-99c1-cf3cf46cc2fb #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e84b3dc-7a4d-4e02-99c1-cf3cf46cc2fb #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e84b3dc-7a4d-4e02-99c1-cf3cf46cc2fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}