#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 400px;
  min-width: 400px;
  min-height: 768px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_1 {
  position: absolute;
  top: 0px;
  left: 99px;
  width: 201px;
  height: 99px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_1 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_1 span#rtr-s-Text_1_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Dynamic_Panel_1 {
  position: absolute;
  top: 99px;
  left: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Panel_1 {
  width: 400px;
  height: 669px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Dynamic_Panel_2 {
  position: absolute;
  top: 101px;
  left: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Panel_2 {
  width: 398px;
  height: 665px;
  background-color: #000000;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_1 {
  position: absolute;
  top: 130px;
  left: 40px;
  width: 311px;
  height: 46px;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_3 {
  position: absolute;
  top: 58px;
  left: 200px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_2 {
  position: absolute;
  top: -2px;
  left: 111px;
  width: 161px;
  height: auto;
  background-color: #000000;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_2 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_3 {
  position: absolute;
  top: 41px;
  left: 260px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_3 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_3 span#rtr-s-Text_3_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_3 span#rtr-s-Text_3_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_4 {
  position: absolute;
  top: 118px;
  left: 200px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_4 {
  position: absolute;
  top: 101px;
  left: 260px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_4 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_4 span#rtr-s-Text_4_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_5 {
  position: absolute;
  top: 182px;
  left: 200px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_5 {
  position: absolute;
  top: 165px;
  left: 260px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_5 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_5 span#rtr-s-Text_5_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_7 {
  position: absolute;
  top: 86px;
  left: 129px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_7 {
  position: absolute;
  top: 69px;
  left: 56px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_7 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_8 {
  position: absolute;
  top: 150px;
  left: 129px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_8 {
  position: absolute;
  top: 133px;
  left: 56px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_8 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_8 span#rtr-s-Text_8_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_9 {
  position: absolute;
  top: 215px;
  left: 129px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_9 {
  position: absolute;
  top: 198px;
  left: 56px;
  width: 70px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_9 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_9 span#rtr-s-Text_9_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_10 {
  position: absolute;
  top: 440px;
  left: 40px;
  width: 311px;
  height: 46px;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_11 {
  position: absolute;
  top: 368px;
  left: 200px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_10 {
  position: absolute;
  top: 322px;
  left: 114px;
  width: 161px;
  height: auto;
  background-color: #000000;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_10 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_11 {
  position: absolute;
  top: 351px;
  left: 260px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_11 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_11 span#rtr-s-Text_11_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_11 span#rtr-s-Text_11_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_11 span#rtr-s-Text_11_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_12 {
  position: absolute;
  top: 428px;
  left: 200px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_12 {
  position: absolute;
  top: 411px;
  left: 260px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_12 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_12 span#rtr-s-Text_12_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_12 span#rtr-s-Text_12_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_13 {
  position: absolute;
  top: 492px;
  left: 200px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_13 {
  position: absolute;
  top: 475px;
  left: 260px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_13 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_13 span#rtr-s-Text_13_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_13 span#rtr-s-Text_13_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_13 span#rtr-s-Text_13_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_14 {
  position: absolute;
  top: 555px;
  left: 200px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_14 {
  position: absolute;
  top: 538px;
  left: 260px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_14 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_14 span#rtr-s-Text_14_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_14 span#rtr-s-Text_14_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_14 span#rtr-s-Text_14_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_15 {
  position: absolute;
  top: 396px;
  left: 129px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_15 {
  position: absolute;
  top: 379px;
  left: 56px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_15 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_15 span#rtr-s-Text_15_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_15 span#rtr-s-Text_15_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_15 span#rtr-s-Text_15_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_16 {
  position: absolute;
  top: 460px;
  left: 129px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_16 {
  position: absolute;
  top: 443px;
  left: 56px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_16 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_16 span#rtr-s-Text_16_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_16 span#rtr-s-Text_16_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_16 span#rtr-s-Text_16_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_17 {
  position: absolute;
  top: 525px;
  left: 129px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_17 {
  position: absolute;
  top: 508px;
  left: 56px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_17 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_17 span#rtr-s-Text_17_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_17 span#rtr-s-Text_17_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_17 span#rtr-s-Text_17_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_18 {
  position: absolute;
  top: 750px;
  left: 40px;
  width: 311px;
  height: 46px;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_19 {
  position: absolute;
  top: 678px;
  left: 200px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_18 {
  position: absolute;
  top: 632px;
  left: 114px;
  width: 161px;
  height: auto;
  background-color: #000000;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_18 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_18 span#rtr-s-Text_18_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_19 {
  position: absolute;
  top: 661px;
  left: 260px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_19 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_19 span#rtr-s-Text_19_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_19 span#rtr-s-Text_19_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_19 span#rtr-s-Text_19_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_20 {
  position: absolute;
  top: 738px;
  left: 200px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_20 {
  position: absolute;
  top: 721px;
  left: 260px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_20 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_20 span#rtr-s-Text_20_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_20 span#rtr-s-Text_20_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_20 span#rtr-s-Text_20_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_21 {
  position: absolute;
  top: 802px;
  left: 200px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_21 {
  position: absolute;
  top: 785px;
  left: 260px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_21 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_21 span#rtr-s-Text_21_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_21 span#rtr-s-Text_21_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_21 span#rtr-s-Text_21_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_22 {
  position: absolute;
  top: 865px;
  left: 200px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_22 {
  position: absolute;
  top: 848px;
  left: 260px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_22 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_22 span#rtr-s-Text_22_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_22 span#rtr-s-Text_22_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_22 span#rtr-s-Text_22_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_23 {
  position: absolute;
  top: 706px;
  left: 129px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_23 {
  position: absolute;
  top: 689px;
  left: 56px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_23 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_23 span#rtr-s-Text_23_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_23 span#rtr-s-Text_23_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_23 span#rtr-s-Text_23_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_24 {
  position: absolute;
  top: 770px;
  left: 129px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_24 {
  position: absolute;
  top: 753px;
  left: 56px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_24 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_24 span#rtr-s-Text_24_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_24 span#rtr-s-Text_24_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_24 span#rtr-s-Text_24_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Line_25 {
  position: absolute;
  top: 835px;
  left: 129px;
  width: 61px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_25 {
  position: absolute;
  top: 818px;
  left: 56px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_25 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_25 span#rtr-s-Text_25_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_25 span#rtr-s-Text_25_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Text_25 span#rtr-s-Text_25_2 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-51c3a256-8dfb-49e3-8339-76dd8b0f353f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}