#s-5b28066d-e72f-4af1-9384-b283273026b8 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b28066d-e72f-4af1-9384-b283273026b8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b28066d-e72f-4af1-9384-b283273026b8 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b28066d-e72f-4af1-9384-b283273026b8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}