#s-62360b22-07e9-4337-9869-5520db856146 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62360b22-07e9-4337-9869-5520db856146 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62360b22-07e9-4337-9869-5520db856146 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62360b22-07e9-4337-9869-5520db856146 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62360b22-07e9-4337-9869-5520db856146 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}