#s-9b13f742-6efb-4ca8-a83f-6f8162d6a9eb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b13f742-6efb-4ca8-a83f-6f8162d6a9eb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b13f742-6efb-4ca8-a83f-6f8162d6a9eb #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b13f742-6efb-4ca8-a83f-6f8162d6a9eb #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b13f742-6efb-4ca8-a83f-6f8162d6a9eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}