#s-d5220b03-9f3d-4e8c-9cea-258f33009098 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d5220b03-9f3d-4e8c-9cea-258f33009098 #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 60px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-d5220b03-9f3d-4e8c-9cea-258f33009098 #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 60px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-d5220b03-9f3d-4e8c-9cea-258f33009098 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
#s-d5220b03-9f3d-4e8c-9cea-258f33009098 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}