#s-358c13fa-5bb4-42f0-87cd-8afe30260173 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-358c13fa-5bb4-42f0-87cd-8afe30260173 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-358c13fa-5bb4-42f0-87cd-8afe30260173 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-358c13fa-5bb4-42f0-87cd-8afe30260173 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-358c13fa-5bb4-42f0-87cd-8afe30260173 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}